/*! file: index.css | author: 100177967 */
.app {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    width: 100%;                 
    text-align: center;
}
.app > h1 { margin-bottom: 8px; }
.app > span { display: inline-block; }
.event {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    color: #fff;
    font-size: 12px;
    padding: 4px 32px;
}

.event.listening {
    background-color: #333333;
    display: block;
}
.event.received {
    background-color: #34aa62;
    display: none;
}

.blink {
    -webkit-animation: fade 3000ms infinite;
            animation: fade 3000ms infinite;
}
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50%  { opacity: 0.4; }
    to   { opacity: 1.0; }
}
@keyframes fade {
    from { opacity: 1.0; }
    50%  { opacity: 0.4; }
    to   { opacity: 1.0; }
}
 
